* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 910px;
}

a {
	text-decoration: none;
}

.left {
	float: left;
	width: 600px;
}

.right {
	float: right;
	width: 280px;
}

footer {
	clear: both;
	text-align: center;
}